@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
#films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

#films .film {
  margin: 10px;
  padding: 10px;
  width: 280px;
  min-height: 490px;
  text-align: center;
  border: 1px solid #4b98fd;
  border-radius: 5px;
}

#films .film p {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}

#films .film .film-img {
  width: 240px;
  height: 360px;
  border-radius: 5px;
  margin: 5px;
}

#films .film .divForTimes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#films .film .divForTimes a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 2px solid #006eff;
  border-radius: 5px;
  margin: 5px;
  padding: 2px 5px;
  width: 110px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#films .film .divForTimes a span {
  font-size: 16px;
  font-weight: normal;
  color: white;
}

#films .film .divForTimes a:hover {
  background-color: #4b98fd;
}

.index {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index a {
  height: 50px;
  width: 100px;
  border: 2px solid #006eff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index a:hover {
  background-color: #4b98fd;
}

.index .gotofilms {
  width: 140px;
  height: 60px;
  padding: 10px;
}

.signup,
.signin {
  font-family: 'Noto Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 20px;
}

.signup form,
.signin form {
  color: #006eff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #4b98fd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.signup form label,
.signin form label {
  margin-top: 5px;
  margin-bottom: 2px;
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.signup form input[type="text"],
.signup form input[type="password"],
.signin form input[type="text"],
.signin form input[type="password"] {
  border: 2px solid #006eff;
  height: 35px;
  border-radius: 5px;
  padding: 0px 5px;
  width: 200px;
}

.signup form input[type="submit"],
.signin form input[type="submit"] {
  height: 50px;
  width: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  border: 2px solid #006eff;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup form input[type="submit"]:hover,
.signin form input[type="submit"]:hover {
  background-color: #4b98fd;
}

.signup a,
.signin a {
  height: 50px;
  width: 100px;
  border: 2px solid #006eff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup a:hover,
.signin a:hover {
  background-color: #4b98fd;
}

#seats {
  padding-top: 20px;
  border-top: 10px solid black;
}

#seats .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#seats .row .rowNumber {
  width: 30px;
  color: #006eff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  text-align: right;
}

#seats .row .seat {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin: 2px;
}

#book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  border: 2px solid #006eff;
  border-radius: 5px;
  margin: 20px 0px 10px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#book:hover {
  background-color: #4b98fd;
}

.seatsGoBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.seatsGoBack a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  border: 2px solid #006eff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.seatsGoBack a:hover {
  background-color: #4b98fd;
}

#options {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#options a {
  border: 2px solid #006eff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#options a:hover {
  background-color: #4b98fd;
}

.deletereservation,
.deletefilmimage,
.deleteseance,
.addnewfilm,
.addnewimage,
.addnewseance {
  font-family: 'Noto Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 20px;
}

.deletereservation a,
.deletefilmimage a,
.deleteseance a,
.addnewfilm a,
.addnewimage a,
.addnewseance a {
  border: 2px solid #006eff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.deletereservation a:hover,
.deletefilmimage a:hover,
.deleteseance a:hover,
.addnewfilm a:hover,
.addnewimage a:hover,
.addnewseance a:hover {
  background-color: #4b98fd;
}

.deletereservation form,
.deletefilmimage form,
.deleteseance form,
.addnewfilm form,
.addnewimage form,
.addnewseance form {
  color: #006eff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #4b98fd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.deletereservation form label,
.deletefilmimage form label,
.deleteseance form label,
.addnewfilm form label,
.addnewimage form label,
.addnewseance form label {
  margin-top: 5px;
  margin-bottom: 2px;
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.deletereservation form select,
.deletereservation form input[type="text"],
.deletereservation form input[type="date"],
.deletereservation form input[type="time"],
.deletefilmimage form select,
.deletefilmimage form input[type="text"],
.deletefilmimage form input[type="date"],
.deletefilmimage form input[type="time"],
.deleteseance form select,
.deleteseance form input[type="text"],
.deleteseance form input[type="date"],
.deleteseance form input[type="time"],
.addnewfilm form select,
.addnewfilm form input[type="text"],
.addnewfilm form input[type="date"],
.addnewfilm form input[type="time"],
.addnewimage form select,
.addnewimage form input[type="text"],
.addnewimage form input[type="date"],
.addnewimage form input[type="time"],
.addnewseance form select,
.addnewseance form input[type="text"],
.addnewseance form input[type="date"],
.addnewseance form input[type="time"] {
  border: 2px solid #006eff;
  height: 35px;
  border-radius: 5px;
  padding: 0px 5px;
  width: 200px;
}

.deletereservation form input[type="file"],
.deletefilmimage form input[type="file"],
.deleteseance form input[type="file"],
.addnewfilm form input[type="file"],
.addnewimage form input[type="file"],
.addnewseance form input[type="file"] {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #006eff;
  border-radius: 5px;
  padding: 10px;
}

.deletereservation form input[type="submit"],
.deletefilmimage form input[type="submit"],
.deleteseance form input[type="submit"],
.addnewfilm form input[type="submit"],
.addnewimage form input[type="submit"],
.addnewseance form input[type="submit"] {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: darkgray;
  border: 2px solid #006eff;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.deletereservation form input[type="submit"]:hover,
.deletefilmimage form input[type="submit"]:hover,
.deleteseance form input[type="submit"]:hover,
.addnewfilm form input[type="submit"]:hover,
.addnewimage form input[type="submit"]:hover,
.addnewseance form input[type="submit"]:hover {
  background-color: #4b98fd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
.top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: gray;
  padding: 10px;
}

header a,
.top-panel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header a:hover,
.top-panel a:hover {
  color: #006eff;
}

header a img,
.top-panel a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 20px;
}

header .logout,
.top-panel .logout {
  position: absolute;
  right: 5px;
  top: 0px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 80px;
}

header .logout img,
.top-panel .logout img {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  margin: 0px;
}

header .adminpanel,
.top-panel .adminpanel {
  position: absolute;
  left: 5px;
  top: 0px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 80px;
  width: 80px;
}

main,
.bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: darkgray;
  padding: 10px;
  min-height: calc(100vh - 120px);
  color: #006eff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}

footer,
.footer {
  height: 40px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  padding: 0px 10px;
}
/*# sourceMappingURL=style.css.map */